.main-content {
  padding: 16px;
}
.main-information {
  display: flex;
  gap: 20px;
}
.main-data {
  padding: 20px;
}
.information-wrapper-1 {
  width: 27%;
  background-color: #d1f0a2;
  display: flex;
}
.information-wrapper {
  width: 27%;
  background-color: #fff;
  box-shadow: 2px 2px 2px 2px #ccc;
  justify-content: space-between;
  display: flex;
  border-radius: 3px;
}
.emissions-1 {
  display: flex;
}
.emissions-1 h4 {
  font-size: 30px;
}
.emissions-1 span {
  margin-top: 11px;
  font-size: 15px;
}
.emissions-1 .date-wrap {
  font-size: 10px;
  font-weight: bold;
}
.emisions {
  margin-bottom: 0px;
  font-size: 14px;
  font-weight: bold;
}
// .capacity-chart{
//     width: 20px;
// }
.generation {
  font-size: 13px;
  padding-right: 12px;
  font-weight: 600;
}
.progress-wrapper {
  margin-top: 16px;
  // margin-right: 13px;
}

.buttons {
  color: #34b7eb;
  background-color: white;
  border-radius: 10px;
  padding: 6px 10px;
  border: 1px solid #34b7eb;
  margin: 5px;
}

.buttons:focus {
  color: white;
  background-color: #34b7eb;
}

.report-wrapper-1 {
  padding: 10px;
  justify-content: center;
  position: relative;
  text-align: center;
  background-color: #fff;
  box-shadow: 2px 2px 2px 2px #ccc;
}

.generation-block {
  display: flex;
  justify-content: space-around;
}

.generation-content {
  display: flex;
  justify-content: space-around;
}
.isgs-generation-block {
  position: relative;
}
.isgs-generation-block::before {
  content: "";
  position: absolute;
  width: 2px;
  background-color: #ccc;
  height: 80px;
  left: -51px;
  bottom: 0px;
}
.generation-block {
  position: relative;
  border-bottom: 2px solid #ccc;
}
// .generation-block::after {
//   content: "";
//   position: absolute;
//   width: 335px;
//   background-color: #ccc;
//   height: 2px;
//   left: 23px;
//   bottom: 0px;
// }

.Solar-block {
  position: relative;
  padding: 10px;
}

// .Solar-block::before {
//   content: "";
//   position: absolute;
//   width: 2px;
//   background-color: #ccc;
//   height: 94px;
//   left: 136px;
//   bottom: 0px;
// }
.wind-block {
  position: relative;
  padding: 10px;
  border-right: 2px solid #ccc;
  border-left: 2px solid #ccc;

}

// .wind-block::before {
//   content: "";
//   position: absolute;
//   width: 2px;
//   background-color: #ccc;
//   height: 94px;
//   left: 0px;
//   bottom: 0px;
// }
// .wind-block::after {
//     content: "";
//     position: absolute;
//     width: 2px;
//     background-color: #ccc;
//     height: 94px;
//     right: 0px;
//     bottom: 0px;
//   }

.report-wrapper .main-data-generation {
  padding-top: 80px;
}

.other-content {
  padding: 10px;
}
.other-content h5 {
  color: #575756;
  font-size: 25px;
}
.other-content span {
  color: #575756;
  font-size: 15px;
}

.wind-block h5 {
  color: #009cd8;
  font-size: 25px;
}
.wind-block span {
  color: #009cd8;
  font-size: 15px;
}
.Solar-block h5 {
  color: #ea5813;
  font-size: 25px;
}
.Solar-block span {
  color: #ea5813;
  font-size: 15px;
}
.generation-block h5 {
  color: #1f3349;
  font-size: 30px;
}
.generation-block span {
  color: #1f3349;
  font-size: 15px;
}
.report-wrapper .progress {
  height: 7px;
}
.Highest-capacity {
  box-shadow: 2px 2px 2px 2px #ccc;
  display: flex;
  flex-direction: column;
  padding-left: 40px;
}
.highest {
  padding: 20px;
}
.highest h6 {
  font-size: 26px;
  font-weight: bold;
}
.highest h6 > span {
  font-size: 18px;
  color: #1f3349;
}
.highest p {
  font-size: 14px;
  color: #1f3349;
  line-height: 0px;
  margin: 0px;
}
.highest span {
  font-size: 11px;
  color: #009cd8;
  line-height: 40px;
}
.highest {
  position: relative;
}
.highest::after {
  content: "";
  position: absolute;
  width: 300px;
  background-color: #ccc;
  height: 2px;
  left: 0%;
  bottom: 0px;
}
.Solar-day {
  padding: 20px;
}

.Solar-day h6 {
  font-size: 26px;
  font-weight: bold;
  color: #ea5813;
}
.Solar-day h6 > span {
  font-size: 18px;
  color: #ea5813;
}
.Solar-day p {
  font-size: 14px;
  color: #1f3349;
  line-height: 0px;
  margin: 0px;
}
.Solar-day span {
  font-size: 11px;
  color: #009cd8;
  line-height: 40px;
}
.Solar-day {
  position: relative;
}
.Solar-day::after {
  content: "";
  position: absolute;
  width: 300px;
  background-color: #ccc;
  height: 2px;
  left: 0%;
  bottom: 0px;
}
.Highest-capacity-switch-menu {
  display: flex;
  align-items: center;
  gap: 1%;
  padding-top: 15px;
  padding-top: 15px;
  justify-content: end;
  padding-right: 5px;
}
.generation-content p {
  margin-bottom: 16px;
}
.report-wrapper-1 .report-title {
  margin-bottom: 45px;
}

.Wind-day {
  padding: 20px;
}
.Wind-day h6 {
  font-size: 26px;
  font-weight: bold;
  color: #009cd8;
}
.Wind-day h6 > span {
  font-size: 18px;
  color: #009cd8;
}
.Wind-day p {
  font-size: 14px;
  color: #1f3349;
  line-height: 0px;
  margin: 0px;
}
.Wind-day span {
  font-size: 11px;
  color: #009cd8;
  line-height: 40px;
}

.generation-content-chart {
  width: 44%;
  box-shadow: 2px 2px 2px 2px #ccc;
}
.report-wrapper-1 {
  margin-left: 12px;
  width: 32%;
  display: flex;
  align-items: center;
  .progress {
    height: 7px !important;
  }
}
.Highest-capacity {
  width: 27%;
  margin-left: 20px;
}
.report-1 {
  display: flex;
}
.capacity-chart {
  width: 168px !important;
  overflow: hidden;
}

.generation-ten {
  width: 39.5%;
  box-shadow: 2px 2px 2px 2px #ccc;
}
.report-wrapper {
  width: 32%;
  text-align: center;
  box-shadow: 2px 2px 2px 2px #ccc;
}
.generation-ten-1 {
  width: 27%;
  box-shadow: 2px 2px 2px 2px #ccc;
  margin-left: 20px;
}

.generation-ten-2 {
  width: 39.5%;
  box-shadow: 2px 2px 2px 2px #ccc;
}
.generation-ten-3 {
  width: 27%;
  margin-left: 20px;
  box-shadow: 2px 2px 2px 2px #ccc;
}
.generation-ten-4 {
  width: 50%;
  box-shadow: 2px 2px 2px 2px #ccc;
}
.line-data {
  width: 50%;
  box-shadow: 2px 2px 2px 2px #ccc;

  .p-calendar-data-block {
    padding-right: 20px;
  }
}
.genration-heading {
  font-weight: bold;
  padding: 20px;
}
.containe a:hover {
  color: #222 !important;
  font-weight: bold;
}
.report-wrapper-changed h5{
    display: flex;
    align-items: end;
}
// tab responsive starts here

@media only screen and (min-width: 768px) and (max-width: 1028px) {
  .emissions-1 span {
    margin-top: 6px;
    font-size: 20px;
  }
  .wind-block {
    padding: 10px;
  }
  .emisions {
    font-size: 20px;
  }
  .genration-heading {
    font-size: 28px;
  }
  .main-information {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    .information-wrapper {
      width: 48%;
    }
  }
  .information-wrapper-1 {
    width: 48%;
    box-shadow: 2px 2px 2px 2px #ccc;
  }
  .generation-main-block {
    margin: 0px !important;
  }
  .generation-main-block-info {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .main-content {
    padding: 0px;
    margin: 0px 0px 20px 0px;
  }
  .generation-ten {
    width: 100%;
    margin: 0px 0px 20px 0px;
  }
  .report-wrapper-1 {
    width: 49%;
    margin-left: 0px;
    padding: 0px;

    margin: 0px 0px 20px 0px;
  }
  .Highest-capacity {
    width: 49%;
    margin: 0px 0px;
    padding-left: 0px;
    align-items: center;
    margin: 0px 0px 20px 0px;
  }
  .highest::after {
    left: -40%;
  }
  .Solar-day::after {
    left: -40%;
  }
  .generation-content p {
    margin-bottom: 10px;
    font-size: 18px;
  }
  .report-1 {
    flex-wrap: wrap;
    justify-content: space-between;

    margin: 0px !important;
  }
  .generation-ten-1 {
    width: 49%;
    margin: 0px 0px 20px 0px;
  }
  .installed-capacity-generation-block {
    margin: 0px !important;
    flex-wrap: wrap;
    justify-content: space-between;
    .generation-ten-2 {
      width: 100%;
    }
  }
  .report-wrapper-changed {
    margin-top: 20px;
  }
  .generation-ten-3 {
    width: 49%;
    margin: 20px 0px 20px 0px;
  }
  .containe {
    margin: 0px !important;
  }
  .capacity-utilisation-wrapper {
    margin: 0px !important;
    gap: 10px;

    flex-direction: column;
    .line-data {
      width: 100%;
      margin: 0px 0px 12px 0px;
    }
    .generation-ten-4 {
      margin: 0px !important;

      width: 100%;
    }
  }
  .generation-block::after {
    left: 4px;
    width: 348px;
  }
  .main-dashboard-wrapper {
    padding: 20px;
  }
  .capacity-chart {
    padding-right: 20px;
  }
  .report-wrapper-1 .report-title {
    margin-bottom: 60px;
    font-size: 25px;
  }
  .highest p {
    font-size: 18px;
  }
  .Solar-day p {
    font-size: 18px;
  }
  .Wind-day p {
    font-size: 18px;
  }
  .isgs-generation-block::before {
    left: -28px;
    bottom: 0px;
  }
  .wind-block::before {
    height: 118px;
    left: 112px;
    bottom: 3px;
  }
  .Solar-block::before {
    height: 118px;
    left: 120px;
    bottom: 3px;
  }
  .Solar-block h5 {
    font-size: 25px;
    display: flex;
    align-items: center;
  }
  .wind-block h5 {
    font-size: 25px;
    display: flex;
    align-items: center;
  }
  .other-content h5 {
    font-size: 25px;
    display: flex;
    align-items: center;
  }
  .containe .text-center{
    font-size: 20px;
  }
}
// tab responsive ends here

// mobile responsive starts here
@media only screen and (max-width: 767px) {
  .main-information {
    flex-direction: column;
    gap: 12px;
    .information-wrapper {
      width: 100%;
    }
  }
  .information-wrapper-1 {
    width: 100%;
    box-shadow: 2px 2px 2px 2px #ccc;
  }
  .generation-main-block {
    margin: 0px !important;
  }
  .generation-main-block-info {
    flex-direction: column;
  }
  .main-content {
    padding: 0px;
    margin: 0px 0px 12px 0px;
  }
  .generation-ten {
    width: 100%;
    margin: 0px 0px 12px 0px;
  }
  .report-wrapper-1 {
    width: 100%;
    margin-left: 0px;
    padding: 0px;

    margin: 0px 0px 12px 0px;
  }
  .Highest-capacity {
    width: 100%;
    margin: 0px 0px;
    padding-left: 0px;
    align-items: center;
    margin: 0px 0px 12px 0px;
  }
  .highest::after {
    left: -60%;
  }
  .Solar-day::after {
    left: -60%;
  }
  .generation-content p {
    margin-bottom: 0px;
  }
  .report-1 {
    flex-direction: column;
    margin: 0px !important;
    // gap: 12px;
  }
  .generation-ten-1 {
    width: 100%;
    margin: 0px 0px 12px 0px;
  }
  .installed-capacity-generation-block {
    margin: 0px !important;
    flex-direction: column;
    .generation-ten-2 {
      width: 100%;
      margin-bottom: 12px;
    }
  }
  .generation-ten-3 {
    width: 100%;
    margin: 0px 0px 12px 0px;
  }
  .containe {
    margin: 0px !important;
  }
  .capacity-utilisation-wrapper {
    margin: 0px !important;
    // gap: 12px;

    flex-direction: column;
    .line-data {
      width: 100%;
      margin: 0px 0px 12px 0px;
    }
    .generation-ten-4 {
      margin: 0px !important;

      width: 100%;
    }
  }
  .generation-block::after {
    left: 4px;
    width: 348px;
  }
  .main-dashboard-wrapper {
    padding: 10px;
  }
 
  .report-wrapper-1 .report-title {
    margin-bottom: 25px;
  }
  .isgs-generation-block::before {
    left: -28px;
    bottom: 0px;
  }
  .wind-block::before {
    height: 101px;
    left: 112px;
    bottom: 3px;
  }
  .Solar-block::before {
    height: 101px;
    left: 112px;
    bottom: 3px;
  }
  .Solar-block h5 {
    font-size: 20px;
  }
  .wind-block h5 {
    font-size: 20px;
  }
  .other-content h5 {
    font-size: 20px;
  }
}
// mobile responsive ends here
