<div class="main-content">
    <div class="main-information">
        <div class="information-wrapper-1">
            <div class="main-data">
                <div class="emissions-1">
                    <h4>581199</h4>
                    <span>tCo2</span>
                </div>
                <div>
                    <p class="emisions">CO2 emissions mitigated</p>
                    <p class="date-wrap">{{ currentDate }}</p>
                </div>
            </div>
        </div>
        <div class="information-wrapper">
            <div class="main-data">
                <div class="emissions-1">
                    <h4>283.0</h4>
                    <span>MU</span>
                </div>
                <div>
                    <p class="emisions">Solar generation</p>
                    <p class="date-wrap">{{ currentDate }}</p>
                </div>
            </div>
            <div class="progress-wrapper">
                <circle-progress class="circle__progress" [percent]="73" [animation]="true" [animationDuration]="300"
                    [startFromZero]="true" [showInnerStroke]="true" [titleFontSize]="'28'" [titleFontWeight]="'500'"
                    [unitsFontSize]="'18'" [unitsFontWeight]="'500'" [subtitle]="'Progres1'" [subtitleFontSize]="'12'"
                    [lazy]="false" [backgroundColor]="'teal'" [backgroundPadding]="8" [radius]="40" [space]="-15"
                    [maxPercent]="100" [unitsColor]="'#ffffff'" [outerStrokeWidth]="7.5" [outerStrokeColor]="'white'"
                    [innerStrokeColor]="'teal'" [innerStrokeWidth]="3" [titleColor]="'#ffffff'"
                    [subtitleColor]="'#ffffff'"></circle-progress>
                <p class="generation">Of Total RE Generation</p>
            </div>
        </div>
        <div class="information-wrapper">
            <div class="main-data">
                <div class="emissions-1">
                    <h4>273.7</h4>
                    <span>MU</span>
                </div>
                <div>
                    <p class="emisions">Wind generation</p>
                    <p class="date-wrap">{{ currentDate }}</p>
                </div>
            </div>
            <div class="mt-3">
                <circle-progress class="circle__progress" [percent]="50" [animation]="true" [animationDuration]="300"
                    [startFromZero]="true" [showInnerStroke]="true" [titleFontSize]="'28'" [titleFontWeight]="'500'"
                    [unitsFontSize]="'18'" [unitsFontWeight]="'500'" [subtitle]="'Progres1'" [subtitleFontSize]="'12'"
                    [lazy]="false" [backgroundColor]="'teal'" [backgroundPadding]="8" [radius]="40" [space]="-15"
                    [maxPercent]="100" [unitsColor]="'#ffffff'" [outerStrokeWidth]="7.5" [outerStrokeColor]="'white'"
                    [innerStrokeColor]="'teal'" [innerStrokeWidth]="3" [titleColor]="'#ffffff'"
                    [subtitleColor]="'#ffffff'"></circle-progress>
                <p class="generation">Of Total RE Generation</p>
            </div>
        </div>
        <div class="information-wrapper information-wrapper-last-block ">
            <div class="main-data">
                <div class="emissions-1">
                    <h4>125110.6</h4>
                    <span>MW</span>
                </div>
                <div>
                    <p class="emisions">Installed RE Capacity</p>
                    <p class="date-wrap">{{ currentDate }}</p>
                </div>
            </div>
            <div class=" flex justify-content-center capacity-chart">
                <!-- <p-chart type="pie" [data]="data1" [options]="options1" class="Cchart"></p-chart> -->
                <div id="data"></div>


            </div>
        </div>
    </div>
</div>

<div class="m-3">
    <div class="d-flex">
        <div class=" generation-ten generation-content-chart">
          <div class="d-flex justify-content-between p-2">
            <p class="genration-heading">RE Generation (Tentative)</p>

          </div>
            <div id="generation"></div>
        </div>
        <div class="report-wrapper-1    ">
            <div class="main-data-generation">
                <p style="color: #cccccc;"  class="report-title">Report</p>

                <div class="generation-block">
                    <div>
                        <p>Re Generation</p>
                        <h5>16658 <span>MU</span></h5>
                    </div>
                    <div class="isgs-generation-block">
                        <p>ISGS Generation</p>
                        <h5>32 <span>%</span></h5>
                    </div>
                </div>
                <div class="generation-content">
                    <div class="Solar-block">
                        <p>Solar generation</p>
                        <h5>9785 <span>MU</span></h5>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-success"
                                style="width:90%">
                            </div>
                        </div>
                    </div>
                    <div class="wind-block">
                        <p>Wind generation</p>
                        <h5>6866 <span>MU</span> </h5>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning"
                                style="width:60%">
                            </div>
                        </div>
                    </div>
                    <div class="other-content">
                        <p>Other RE generation</p>
                        <h5>742 <span>MU</span></h5>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger"
                                style="width:50%">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="Highest-capacity">
            <div class="Highest-capacity-switch-menu">
                {{ capacityInput}}
                <p-inputSwitch [(ngModel)]="checke" (click)="capacityChanges()"></p-inputSwitch>
           
            </div>
          
            <div class="highest">
                <h6>805.5 <span>MU</span></h6>
                <p>Highest RE day</p>
                <span>26 May,2023</span>
            </div>
            <div class="Solar-day">
                <h6>350.1 <span>MU</span></h6>
                <p>Highest RE day</p>
                <span>26 May,2023</span>
            </div>
            <div class="Wind-day">
                <h6>{{highestCapacity|number}} <span>MU</span></h6>
                <p>Highest RE day</p>
                <span>26 May,2023</span>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="report-1 m-3">
        <div class=" generation-ten ">
            <div class="d-flex justify-content-between p-2">
                <p class="genration-heading">RE Generation</p>

              </div>
            <div id="generation1"></div>
        </div>
        <div class="report-wrapper-1    ">
            <div class="main-data-generation">
                <p style="color: #cccccc;" class="report-title" >Report</p>

                <div class="generation-block">
                    <div>
                        <p>Re Generation</p>
                        <h5>16658 <span>MU</span></h5>
                    </div>
                    <div class="isgs-generation-block">
                        <p>ISGS Generation</p>
                        <h5>23<span>%</span></h5>
                    </div>
                </div>
                <div class="generation-content">
                    <div class="Solar-block">
                        <p>Solar generation</p>
                        <h5>101079<span>MU</span></h5>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-success"
                                style="width:90%">
                            </div>
                        </div>
                    </div>
                    <div class="wind-block">
                        <p>Wind generation</p>
                        <h5>72666<span>MU</span> </h5>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning"
                                style="width:60%">
                            </div>
                        </div>
                    </div>
                    <div class="other-content">
                        <p>Other RE generation</p>
                        <h5>29746<span>MU</span></h5>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger"
                                style="width:50%">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
 

        <div class="generation-ten-1">
            <p class="genration-heading text-center text-400">Technology Share</p>
            <div class="buttons-1">
                <button class="buttons" (click)="pieschart()">All</button>
                <button class="buttons" (click)="radar1()">Click</button>
                <button class="buttons" (click)="radar2()">Wind</button>
                <button class="buttons" (click)="radar3()">Biomass</button>
                <button class="buttons" (click)="radar4()">Bagase</button>
                <button class="buttons" (click)="radar5()">Small hydel</button>
                <button class="buttons" (click)="radar6()">Others</button>
            </div>
            <div id="charts"></div>
        </div>
    </div>
</div>



<div>
    <div class="d-flex m-3">
        <div class=" generation-ten-2">
            <div class="d-flex justify-content-between p-2">
                <p class="genration-heading">Installed capacity</p>
              </div>
            <div class="buttons-1">
                <button class="buttons" (click)="capacitys()">All</button>
                <button class="buttons" (click)="pies1()">wind</button>
                <button class="buttons" (click)="pies2()">solarground-Mounted</button>
                <button class="buttons" (click)="pies3()">Bio power</button>
                <button class="buttons" (click)="pies4()">Solar roofTop</button>
                <button class="buttons" (click)="pies5()">Small hydel</button>
            </div>
            <div id="capa"></div>
        </div>
        <div class="report-wrapper-1    ">
            <div class="main-data-generation">
                <p style="color: #cccccc;" class="report-title" >Report</p>

                <div class="generation-block">
                    <div>
                        <p>Re Generation</p>
                        <h5>125111 <span>MU</span></h5>
                    </div>
                    <div class="isgs-generation-block">
                        <p>ISGS Generation</p>
                        <h5>18<span>%</span></h5>
                    </div>
                </div>
                <div class="generation-content">
                    <div class="Solar-block">
                        <p>Solar generation</p>
                        <h5>66735 <span>MW</span></h5>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-success"
                                style="width:90%">
                            </div>
                        </div>
                    </div>
                    <div class="wind-block">
                        <p>Wind generation</p>
                        <h5>42629 <span>MW</span> </h5>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning"
                                style="width:60%">
                            </div>
                        </div>
                    </div>
                    <div class="other-content">
                        <p>Other RE generation</p>
                        <h5>15746<span>MW</span></h5>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger"
                                style="width:50%">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    

        <div class=" generation-ten-3 ">
            <p class="genration-heading text-center text-400">Technology Share</p>
            <div class="buttons-1">
                <button class="buttons" (click)="piescharts()">All</button>
                <button class="buttons" (click)="pieschart1()">Wind</button>
                <button class="buttons" (click)="pieschart3()">Solarground -Mounted</button>
                <button class="buttons" (click)="pieschart4()">Bio-Power</button>
                <button class="buttons" (click)="pieschart5()">Solar roofop</button>
                <button class="buttons" (click)="pieschart6()">Small Hydel</button>
            </div>
            <div id="chart"></div>
        </div>
    </div>
</div>

<div>
    <div class="d-flex m-3">
        <div class="line-data">
            <div class="d-flex justify-content-between">
                <p class="genration-heading">Capacity utilisation (ISGS projects)</p>
                <p-calendar selectionMode="range" class="p-calendar-data-block" [showIcon]="true" [minDate]="minDate" [maxDate]="maxDate"  (onSelect)="onDateSelect()"  [(ngModel)]="date" placeholder="select the Date"></p-calendar>
              </div>
 

            <div id="curve"></div>
        </div>
        <div class="generation-ten-4 ms-3">
            <div class="d-flex justify-content-between">
                <p class="genration-heading">Capacity utilisation (ISGS projects)</p>
              </div>
            <div class="buttons-1">
                <button class="buttons" (click)="barcharts()">All</button>
                <button class="buttons" (click)="barcharts1()">wind</button>
                <button class="buttons" (click)="barcharts2()">Solar</button>
                <button class="buttons" (click)="barcharts3()">Bio mass</button>
                <button class="buttons" (click)="barcharts4()">Bagasse</button>
                <button class="buttons" (click)="barcharts5()">Small hydel</button>
                <button class="buttons" (click)="barcharts6()">Others</button>
                
            </div>
            <div id="bar"></div>
        </div>
    </div>
</div>

<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="containe m-3 ">
    <!-- Footer -->
    <footer class="text-center text-white" style="background-color: #3f51b5">
      <!-- Grid container -->
      <div class="container">
        <!-- Section: Links -->
     
        <!-- Section: Social -->
      </div>
      <!-- Grid container -->
  
      <!-- Copyright -->
      <div
           class="text-center p-3"
           style="background-color: rgba(0, 0, 0, 0.2)"
           >
        © 2023 Copyrights:
        <a class="text-white" href="https://ahex.co/"
           >Ahex Technologies</a
          >
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  </div>
  <!-- End of .container -->