<div class="container">
    <p-sidebar [(visible)]="sidebarVisible">
        <div class="side-wrapper-content">
            <input type="text" placeholder="Search States..">
            <h2 routerLink="/Dashboard" routerLinkActive="/Dashboard">
                India
            </h2>
            <h2>
                Northern Region
            </h2>
            <ul>
               
                <li routerLink="/chandigarh" routerLinkActive="/chandigarh">
                    Chandigarh
                </li>
                <li>
                    Delhi
                </li>
            </ul>
            <h2>
                Western Region
            </h2>
            <ul>
              
                <li>
                    Chhattisgarh
                </li>
                <li>
                    Gujarat
                </li>
            </ul>
            <h2>
                Southern Region
            </h2>
            <ul>
              
                <li>
                    Andhra Pradesh
                </li>
                <li>
                    Telangana
                </li>
            </ul>
            <h2>
                Eastern Region
            </h2>
            <ul>
               
                <li>
                    Bihar
                </li>
                <li>
                    Jharkhand
                </li>
            </ul>
            <h2>
                North-Eastern Region
            </h2>
            <ul>
           
                <li>
                    Bihar
                </li>
                <li>
                    Jharkhand
                </li>
            </ul>
        </div>
    </p-sidebar>
    <div class="header-wrapper-top">
        <nav class="navbar navbar-expand-lg navbar-light bg-blue-200 ">
            <div class="container-fluid ">
                <div class="image-content-header">
                    <div class="image-content-header-block">

                        <a class="navbar-brand" href="#">
                            <img src="../../assets/Main-Logo-ahex.webp" alt="" class="img-fluid">
                            
                       </a>
                    </div>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                        <a class="nav-link" href="#">About</a>
                        <a class="nav-link" href="#">Reports</a>
                        <a class="nav-link" href="#">FAQ</a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>
<div class="header-main-wrapper">
    <div class="container">
        <h1>
            India
        </h1>
        <h3>
            Renewables
        </h3>
    </div>

</div>

        <p-button (click)="sidebarVisible = true" icon="pi pi-arrow-right" class="sidebar-btn"></p-button>

        <router-outlet></router-outlet>

  



