<div class="card flex justify-content-center sidebar">
    <p-sidebar [(visible)]="sidebarVisible">
        <div class="side-wrapper-content">
            <input type="text" placeholder="Search States">
            <h2>
                India
            </h2>
            <ul>
                <h2>
                    Northern Region
                </h2>
                <li routerLink="/chandigarh" routerLinkActive="/chandigarh">
                    Chandigarh
                </li>
                <li>
                    Delhi
                </li>
            </ul>
            <ul>
                <h2>
                    Western Region
                </h2>
                <li>
                    Chhattisgarh
                </li>
                <li>
                    Gujarat
                </li>
            </ul>
            <ul>
                <h2>
                    Southern Region
                </h2>
                <li>
                    Andhra Pradesh
                </li>
                <li>
                    Telangana
                </li>
            </ul>
            <ul>
                <h2>
                    Eastern Region
                </h2>
                <li>
                    Bihar
                </li>
                <li>
                    Jharkhand
                </li>
            </ul>
            <ul>
                <h2>
                    North-Eastern Region
                </h2>
                <li>
                    Bihar
                </li>
                <li>
                    Jharkhand
                </li>
            </ul>
        </div>


    </p-sidebar>
    <div>
        <p-button (click)="sidebarVisible = true" icon="pi pi-arrow-right" class="sidebar-btn"></p-button>
       
        <router-outlet></router-outlet>

    </div>
</div>