.header-wrapper-top .image-content-header-block{
    height: 55px;
    width: 200px;

}
.header-wrapper-top .image-content-header img{
    width: 100% !important;
    height: auto;
}
.header-wrapper-top .image-content-header{
    width: 70%;
}
.header-wrapper-top .nav-link{
font-weight: bold;
color: #222 !important;
font-size: 17px;
}
.header-main-wrapper{
    background-color: rgb(216, 225, 245);
}
