/* You can add global styles to this file, and also import other style files */
@import "node_modules/primeicons/primeicons.css";
@import "node_modules/primeng/resources/themes/lara-light-blue/theme.css";
@import "node_modules/primeng/resources/primeng.min.css";

@import "node_modules/bootstrap/scss/bootstrap.scss";


@import "/node_modules/primeflex/primeflex.css";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    font-family: sans-serif;
}

.p-button-icon-only{
    position: absolute;
left: 288px;
top: 88px;
}

.capacity-chart .Cchart canvas{
    width: 150px;
    margin-left: -84px;
    margin-bottom: 6px;
}
.information-wrapper-last-block  .highcharts-container{
    width: 185px !important;
}
.information-wrapper-last-block .highcharts-credits{
display: none;
}
.information-wrapper-last-block .highcharts-data-label-connector 
{
    display: none;

}
.information-wrapper-last-block .highcharts-label text{
// font-size: 2px !important;
}